# Sistema de build
/target/
/build/

# Configurações do IDE
/.idea/
/*.iml
*.classpath
*.project
*.settings/

# Logs
*.log

# Sistema operacional
.DS_Store
Thumbs.db

# Arquivos de ambiente e variáveis sensíveis
.env
src/main/resources/application.properties
application.yml

# IntelliJ
*.iws
*.ipr

# VSCode
.vscode/

# Testes
/test-output/
